<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Мебель от Прохорова
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./assets/css/material-kit.css?v=2.0.3">
  <!-- Documentation extras -->
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./assets/assets-for-demo/demo.css" rel="stylesheet" />
  <link href="./assets/assets-for-demo/vertical-nav.css" rel="stylesheet" />
</head>

<body class="landing-page">
  <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="../index.html">Мебель от Прохорова </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">apps</i> Каталог
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="http://kuhni-istra.ru/#b5" class="dropdown-item">
                <i class="material-icons">kitchen</i> Кухни
              </a>
              <a href="http://kuhni-istra.ru/#b11" class="dropdown-item">
                <i class="material-icons">crop_portrait</i> Шкафы-купе
              </a>
              <a href="#" class="dropdown-item">
                <i class="material-icons">weekend</i> Прочая мебель
              </a>
              <a href="#Our_examples" class="dropdown-item">
                <i class="material-icons">forward</i> Примеры наших работ
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://kuhni-istra.ru/#b9">
              <i class="material-icons">map</i> Контакты
            </a>
          </li>
          <li class="nav-item">
            <button class="btn btn-rose btn-round">
              <i class="material-icons">phone</i> +7 495 777 33 77
              <div class="ripple-container"></div>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="page-header header-filter" data-parallax="true" style=" background-image: url('./assets/img/kitchen.jpg'); ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Нас рекомендуют друзьям!</h1>
          <h4>Сотрудники нашего салона оперативно оформят Ваш заказ, порадуют подарками и скидками на мебель. Наши преимущества: бесплатный выезд замерщика, сроки выполнения заказов от 2 недель до 1 месяца, установка и гарантия. Работаем в Москве и МО</h4>
          <br>
          <a href="https://www.youtube.com/watch?v=ZtuTps7b6EQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
            <i class="fa fa-play"></i> Видео о нашей продукции
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
    <div class="container">
      <div class="section" id="Our_examples">
        <h3 class="title text-center">Примеры наших работ</h3>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-plain card-blog">
              <div class="card-header card-header-image">
                <a href="#Our_examples">
                  <img class="img img-raised" src="./assets/img/22.jpg">
                </a>
                <div class="colored-shadow" style="background-image: url(&quot;./assets/img/22.jpg&quot;); opacity: 1;">
                </div>
              </div>
              <div class="card-body">
                <h6 class="card-category text-danger">Слобода</h6>
                <h4 class="card-title">
                  <a href="#Our_examples">Кухни из эмаль</a>
                </h4>
                <p class="card-description">
                Красивые кухни. Классический стиль
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-plain card-blog">
              <div class="card-header card-header-image">
                <a href="#Our_examples">
                  <img class="img img-raised" src="./assets/img/20.jpg">
                </a>
                <div class="colored-shadow" style="background-image: url(&quot;./assets/img/20.jpg&quot;); opacity: 1;">
                </div>
              </div>
              <div class="card-body">
                <h6 class="card-category text-info">Истра</h6>
                <h4 class="card-title">
                  <a href="#Our_examples">Кухни из массива</a>
                </h4>
                <p class="card-description">
                Хорошая большая кухня из дерева в традиционном стиле
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-plain card-blog">
              <div class="card-header card-header-image">
                <a href="#Our_examples">
                  <img class="img img-raised" src="./assets/img/21.jpg">
                </a>
                <div class="colored-shadow" style="background-image: url(&quot;./assets/img/21.jpg&quot;); opacity: 1;">
                </div>
              </div>
              <div class="card-body">
                <h6 class="card-category text-success">Красногорск</h6>
                <h4 class="card-title">
                  <a href="#Our_examples">Кухни из МДФ</a>
                </h4>
                <p class="card-description">
                Более простой вариант. Возможность выбрать разные цвета кухни
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-3" id="Our_advantages">
        <div class="row">
          <div class="col-md-6">
            <div class="phone-container">
              <img src="./assets/img/shkaf.png">
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="title">Наши преимущества:</h2>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">nature</i>
              </div>
              <div class="description">
                <h4 class="info-title">Экологически чистые материалы</h4>
                <p>Мы делаем кухни и шкафы из массива </p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">check_box</i>
              </div>
              <div class="description">
                <h4 class="info-title">Высокое качество</h4>
                <p>Оцените качество нашей мебели по примеру наших работ</p>
              </div>
            </div>
            <div class="info info-horizontal">
              <div class="icon icon-primary">
                <i class="material-icons">attach_money</i>
              </div>
              <div class="description">
                <h4 class="info-title">Доступные цены</h4>
                <p>Также возможна беспроцентная рассрочка. Скидки до 20%</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="contact-content" id="Our_contact_form">
        <h2 class="text-center title">Оставьте Вашу заявку</h2>
        <h4 class="text-center description">Мы сообщим Вас о том, когда сможем приступить к заказу</h4>
        <%= yield %>
      </div>
      <br>
      <br>
    </div>
  </div>
  
  <footer class="footer ">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li>
            <a href="#">
              На главную
            </a>
          </li>
          <li>
            <a href="#Our_advantages">
              О нас
            </a>
          </li>
          <li>
            <a href="http://blog.osmin.ru/articles/sovety-po-planirovke-kuhni">
              Блог фабрики
            </a>
          </li>
          <li>
            <a href="http://kuhni-istra.ru/#b9">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright pull-right">
        <a href="http://www.amedoro.com" target="_blank">Ассоциация мебельных предприятий России</a>
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js"></script>
  <script src="./assets/js/core/popper.min.js"></script>
  <script src="./assets/js/bootstrap-material-design.js"></script>
  <!--  Google Maps Plugin  -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!--  Plugin for Date Time Picker and Full Calendar Plugin  -->
  <script src="./assets/js/plugins/moment.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="./assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="./assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
  <script src="./assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="./assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--	Plugin for Small Gallery in Product Page -->
  <script src="./assets/js/plugins/jquery.flexisel.js"></script>
  <!-- Plugins for presentation and navigation  -->
  <script src="./assets/assets-for-demo/js/modernizr.js"></script>
  <script src="./assets/assets-for-demo/js/vertical-nav.js"></script>
  <!-- Material Kit Core initialisations of plugins and Bootstrap Material Design Library -->
  <script src="./assets/js/material-kit.js?v=2.0.3"></script>
  <!-- Fixed Sidebar Nav - js With initialisations For Demo Purpose, Don't Include it in your project -->
  <script src="./assets/assets-for-demo/js/material-kit-demo.js"></script>
</body>

</html>
